{% extends 'layouts/bootstrap-base.html.twig' %}

{% block content %}

    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Annonces</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Liste des annonces - Raquettes</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->


    <!-- ================ category section start ================= -->
    <section class="section-margin--small mb-5">
        <div class="container">
            <div class="row">
                {{ form_start(searchForm,{'attr':{'class':'col-xl-3 col-lg-4 col-md-5'}}) }}
                <div class="sidebar-categories">
                    <!--<div class="head">Categories</div>
                    <ul class="main-categories">
                        <li class="common-filter">
                            <form action="#">
                                <ul>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="men"
                                                                   name="brand"><label
                                                for="men">Homme<span> (3600)</span></label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="women"
                                                                   name="brand"><label
                                                for="women">Dame<span> (3600)</span></label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="accessories"
                                                                   name="brand"><label
                                                for="accessories">Junior<span> (3600)</span></label></li>
                                </ul>
                            </form>
                        </li>
                    </ul>-->
                </div>

                <div class="sidebar-filter">
                    <div class="filter-bar d-flex flex-wrap align-items-center">
                        <div>
                            <div class="input-group filter-bar-search">
                                {{ form_row(searchForm.q) }}

                                <!-- <div class="input-group-append">
                                    <button type="button"><i class="ti-search"></i></button>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="top-filter-head">Filtre</div>
                    <div class="common-filter">
                        <div class="head">Marque</div>
                        <ul>
                            {% for brand in searchForm.brands %}
                                <li class="filter-list">
                                    {{ form_widget(brand,{'attr':{'class':'pixel-radio'}}) }}
                                    {{ form_label(brand) }}
                                </li>

                            {% endfor %}
                        </ul>

                    </div>
                 <button type="submit" class="button button--active button-contactForm side-button">Filtrer</button>

                </div>
                {{ form_end(searchForm) }}
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <!-- Start Filter Bar -->

                    <!-- End Filter Bar -->
                    <!-- Start Best Seller -->
                    <section class="lattest-product-area pb-40 category-list">
                        <div class="row">
                            {% for advert in adverts %}
                                <div class="col-md-6 col-lg-4">
                                    <div class="card text-center card-product">
                                        <div class="card-product__img">
                                            <img class="card-img" src="{{ vich_uploader_asset(advert,'imageFile') }}"
                                                 alt="">
                                            <ul class="card-product__imgOverlay">
                                                <a href="{{ path('advert-info',{'id': advert.id}) }}">
                                                    <li>
                                                        <button><i class="ti-search"></i></button>
                                                    </li>
                                                </a>

                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <h4>{{ advert.title }}</h4>
                                            <p>Raquette {{ advert.product.category|genderFilter }}</p>
                                            <h4 class="card-product__title">{{ advert.product.title }}
                                            </h4>
                                            <p class="card-product__price">{{ advert.price }}€</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        {{ knp_pagination_render(adverts, 'layouts/pagination.html.twig') }}


                    </section>
                    <!-- End Best Seller -->
                </div>
            </div>
        </div>
    </section>
    <!-- ================ category section end ================= -->

{% endblock %}
