{% extends 'layouts/bootstrap-base.html.twig' %}

{% block content %}

    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="blog">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Shop Single</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop Single</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->


    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div>
                        <div class="single-prd-item">
                            <img class="img-fluid" src="/{{ vich_uploader_asset(advert,'imageFile') }}" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>{{ advert.title }}</h3>
                        <i class="far fa-star"></i>
                        <p>{{ advert.description }}</p>
                        <p>{{ advert.product.brand }}</p>
                        <p>{{ advert.product.title }}</p>
                        <h2>{{ advert.price }}€</h2>
                        <div class="product_count">
                            <a class="button primary-btn" href="#">Acheter</a>
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                            <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->

{% endblock %}
