{% extends 'layouts/bootstrap-base.html.twig' %}

{% block javascripts %}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="{{asset('js/app.js')}}"></script>

{% endblock %}

{% block content %}

    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="blog">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Shop Single</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop Single</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->


    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div>
                        <div class="single-prd-item">
                            <img class="img-fluid" src="{{ asset('img/uploads/'~advert.image) }}" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>{{ advert.title }}</h3>
                        {% if app.user %}

                        <a class="js-fav" href="{{ path('fav',{'id':advert.id}) }}">
                            {% if advert.isFavByUser(app.user)== false %}
                            <i class="far fa-star"></i>
                            {% else %}
                            <i class="fas fa-star"></i>
                            {% endif %}

                        </a>

                        {% endif %}
                        <p>{{ advert.description }}</p>
                        <p>{{ advert.product.brand }}</p>
                        <p>{{ advert.product.title }}</p>
                        <h2>{{ advert.price }}€</h2>
                        <div class="product_count">
                            {{ form_start(form) }}
                            <input type="hidden" value="{{advert.id}}" name="advertId">
                            {{ form_widget(form.button,{'attr':{'class':'button button--active button-contactForm'}}) }}
                            {{ form_end(form) }}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->

{% endblock %}


