{% extends 'layouts/bootstrap-base.html.twig' %}


{% block content %}
    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Votre compte</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Page utilisateur</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->

    <!--================Tracking Box Area =================-->
    <section class="profile">
        <div class="container-tab">
            <h2 class="title-profile">Favoris</h2>
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1">Titre</th>
                            <th class="cell100 column2">Prix</th>
                            <th class="cell100 column3">Image</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                        {% for favorite in favorites %}

                            <tr class="row100 body">
                                <td class="cell100 column1">{{ favorite.advert.title }}</td>
                                <td class="cell100 column2">{{ favorite.advert.price }}</td>
                                <td class="cell100 column3">
                                    <div class="box-image"><img class="card-img"
                                                                src="{{ asset('img/uploads/'~favorite.advert.image) }}">
                                    </div>
                                </td>
                                <td class="cell100 column4">
                                    <button type="button" class="button button--active button-contactForm">
                                        <a href="{{ path('advert-info',{'id':favorite.advert.id}) }}">Vers Annonce</a>
                                    </button>
                                </td>

                            </tr>


                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="container-tab">
            <h2 class="title-profile">Vos annonces</h2>
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1">Titre</th>
                            <th class="cell100 column2">Prix</th>
                            <th class="cell100 column3">Image</th>
                            <th class="cell100 column5">Action</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                        {% for advert in adverts %}

                            <tr class="row100 body">
                                <td class="cell100 column1">{{ advert.title }}</td>
                                <td class="cell100 column2">{{ advert.price }}</td>
                                <td class="cell100 column3">
                                    <div class="box-image">
                                        <img class="card-img" src="{{ asset('img/uploads/'~advert.image) }}">
                                    </div>
                                </td>
                                <td class="cell100 column4">
                                    {% if advert.bought !=true %}
                                    <button type="button" class="button button--active button-contactForm">
                                        <a href="{{ path('advert-info',{'id':advert.id}) }}">Vers Annonce</a>
                                    </button>
                                    {% else %}
                                        <p>Affaire conclue!</p>
                                        {% endif %}
                                </td>

                            </tr>


                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Tracking Box Area =================-->
{% endblock %}
